//$color-primary: #4036e9;
$color-primary: #1F40AF;
$color-hover-red: #04AFEE;
$color-title: #282830;
$color-text: #6A6B70;
$color-input-text: #555555;
$color-border: #acb0b7;
$color-border-focus: #3500E2;
$color-border-hover: #3500E2;
$color-danger: #e74c3c;
$color-success: #1abc9c;
//$color-overlay: #460309;
$color-overlay: #131314;
@import "~hooper/dist/hooper.css";

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* BODY */

body {
    position: relative;
    color: $color-text;
    font: 16px/26px "Roboto", sans-serif !important;
    text-align: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    //background-color: #f9fafb;

    //background-image: linear-gradient(90deg, rgba(#6035EF,1) 0%, rgba(#5F52EE,1) 55%, rgba(#5E64F1,1) 100%);
    &:before {
        position: absolute;
        background-color: #F8FBFF;
        height: 200px;
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        content: "";
    }
}

.fill {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.login {
    margin: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    //background: #f9fafb;
    //background-image: url('/assets/erc/images/login-mini.png');
    //background-repeat: no-repeat;
    //background-position: left center;
    //background-size: 50%;

    .content {
        display: flex;
        position: relative;
        width: calc(100% - 400px);
        background-size: cover;
        background-position: center bottom;
        height: 100vh;
        flex-direction: column;
        overflow-y: auto;

        .header {
            z-index: 2;
            display: flex;
            align-items: center;
            width: 100%;
            padding: 60px 60px 0;
            height: 100px;

            .logo{
                text-align: left;
            }

            .menu {
                margin-left: auto;
                display: flex;

                li {
                    display: inline;
                    margin: 0 10px;

                    a {
                        color: $color-primary;
                        text-decoration: none;
                        cursor: pointer;
                        font-weight: 500;
                        text-transform: uppercase;
                        font-size: 12px;
                        //background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
                        //text-shadow: 1px 2px 4px $color-primary;
                        padding: 10px 5px;
                        border-radius: 10px;
                        position: relative;
                        &:after {
                            background: $color-primary;
                            bottom: 0;
                            content: "";
                            height: 2px;
                            left: 51%;
                            margin-top: 42px;
                            opacity: 0;
                            position: absolute;
                            right: 51%;
                            transition-duration: .3s;
                            transition-property: left, right, opacity;
                            transition-timing-function: ease-out;
                            z-index: -1;
                        }
                        &:hover{
                            &:after {
                                left: 0;
                                opacity: 1;
                                right: 0;
                                z-index: 10;
                            }
                        }
                    }
                }
            }

            .title {
                //position: absolute;
                //left: 80px;
                //top: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                //width: 400px;
                //height: 400px;
                z-index: 10;

                h2 {
                    font-size: 24px;
                    text-transform: uppercase;
                    text-align: left;
                    letter-spacing: .5px;
                    color: $color-primary;
                    text-shadow: 1px 2px 4px rgba($color-primary, 1);
                    position: relative;
                    //&:before{
                    //    position: absolute;
                    //    content: "";
                    //    height: 3px;
                    //    background: $color-primary;
                    //    width: 50px;
                    //    left: 0;
                    //    bottom: -3px;
                    //}
                }

                p {
                    color: $color-primary;
                    text-transform: uppercase;
                    font-size: 10px;
                    font-weight: 500;
                    letter-spacing: .5px;
                    margin-top: -10px;
                }
            }
        }

        &-body {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            width: 100%;
            height: calc(100vh - 400px);
            flex: 1;
            background-image: url('/assets/logistic/images/app-bg.png');
            background-size: 100% auto;
            background-repeat: no-repeat;
            background-position: center bottom;
            padding-top: 60px;

            .lottie {
                height: 80%;
                margin-left: 10%;
                @media (max-height: 1080px) {
                    height: 100%;
                }
            }
        }

        .footer {
            z-index: 2;
            height: 280px;
            min-height: 250px;
            background-color: #F8FBFF;
            padding: 20px 40px;

            h3 {
                color: $color-primary;
                font-size: 15px;
                font-weight: 500;
                text-align: left;
                padding: 0 0 20px 10px;
                text-transform: uppercase;
            }

            .footer-item {
                a {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    height: 150px;
                    border-radius: 8px;
                    padding: 0 10px;
                    //background: lighten($color-primary, 20%);
                    background-image: linear-gradient(to right top, $color-primary, darken($color-primary, 3%), darken($color-primary, 6%));

                    svg {
                        fill: transparent;
                        stroke: #fff;
                        height: 40px;
                        width: 40px;
                        path, rect{
                            fill: transparent;
                            stroke: #fff;
                        }
                    }

                    span {
                        color: #ffffff;
                        font-size: 14px;
                        line-height: 18px;
                        margin-top: 10px;
                    }
                }
            }

            .hooper-slide {
                padding: 0 10px;

                &:first-child {
                    padding: 0 !important;

                    .footer-item {
                        padding: 0 !important;
                    }
                }
            }

            .hooper-indicator{
                background-color: #ccc;
            }
            .hooper-indicator.is-active{
                background-color: #ffbf00 !important;
            }

            //.hooper-pagination[]
        }
    }

    .auth {
        align-self: flex-end;
        background: #ffffff;
        position: relative;
        z-index: 10;
        width: 400px;
        max-width: 400px;
        height: calc(100vh - 60px);
        overflow-y: auto;
        overflow-x: hidden;
        margin: 30px 30px 30px auto;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 5px rgb(0 0 0 / 15%);
        padding: 0;

        .logo {
            text-align: left;
            margin-bottom: 60px;
            display: flex;
            justify-content: flex-start;

            img {
                width: 100%;
            }

            &.with-text {
                display: flex;
                width: 100%;
                align-items: center;

                img {
                    height: 60px;
                    width: auto !important;
                    margin-right: 20px;
                }

                span {
                    font-size: 12px;
                    font-weight: 700;
                    line-height: 20px;
                    text-transform: uppercase;
                    max-width: 220px;
                }
            }
        }
    }
}

.form-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .form-content {
        display: flex;
        flex-direction: column;
        text-align: left;
        width: auto;

        &-inner {
            padding: 0 3em 1.5em;
        }

        h2 {
            width: 100%;
            color: $color-title;
            text-transform: uppercase;
            font-family: "ToyotaType-Regular", sans-serif;
            font-size: 20px;
            font-weight: normal;
            padding-bottom: 3px;
            padding-left: 10px;
            border-bottom: 1px dashed $color-hover-red;
            margin-bottom: 8px;
            position: relative;

            &::before {
                position: absolute;
                content: "";
                width: 4px;
                height: 30px;
                background-color: $color-primary;
                left: 0;
                margin-right: 10px;
            }
        }

        .login-description {
            font-size: 13px;
            line-height: 14px;
            text-align: center;
            color: #888;
        }

        #msg {
            .error {
                color: $color-danger;
            }

            .success {
                color: $color-success;
            }

            font-size: 12px;
            text-align: center;
            margin-top: 20px;
            transition: .25s ease-in-out;
        }

        form {
            margin-top: 40px;
            min-width: 100%;

            .input {
                position: relative;
                margin: 0 0 .8em 0;

                .icon {
                    width: 16px;
                    height: 16px;
                    background: url(/images/icon.png) no-repeat -3px -4px;
                    position: absolute;
                    left: 6px;
                    top: 14px;
                    opacity: 0.6;
                    cursor: text;
                    z-index: 10;
                    display: block;
                    transition: .25s ease-in-out;

                    &.pass {
                        background: url(/images/icon.png) no-repeat -3px -83px;
                    }
                }

                input {
                    padding: 8px 10px 8px 28px;
                    font-size: 14px;
                    width: 100%;
                    display: inline-block;
                    background: transparent;
                    border: 1px solid $color-border;
                    outline: 0;
                    box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    color: $color-input-text;
                    transition: .25s ease-in-out;
                    border-radius: 6px;

                    &:disabled {
                        opacity: .5;

                        &:hover,
                        &:active,
                        &:focus {
                            border-bottom: 1px solid #cccccc;
                        }
                    }

                    &:active,
                    &:focus {
                        border: 1px solid $color-border-focus;

                        & + span {
                            opacity: 1;
                        }
                    }

                    &:hover {
                        border-color: $color-border-hover;
                    }

                    &::placeholder {
                        /* Chrome, Firefox, Opera, Safari 10.1+ */
                        color: #999999;
                    }
                }
            }

            .login-btn {
                display: flex;
                justify-content: center;
                align-items: center;

                .button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 14px 0;
                    height: 36px;
                    width: 100%;
                    background-color: $color-primary;
                    border: none;
                    font-family: 'ToyotaType-Regular', sans-serif;
                    font-size: 13px;
                    text-transform: uppercase;
                    color: #fff;
                    letter-spacing: 1px;
                    box-shadow: none;
                    outline: none;
                    transition: .25s ease-in-out;
                    position: relative;
                    cursor: pointer;
                    border-radius: 6px;

                    span.loader {
                        position: absolute;
                        right: 5px;
                    }

                    &:hover {
                        background-color: darken($color-primary, 10%);
                    }

                    &:focus::after {
                        content: "";
                        position: absolute;
                        top: -5px;
                        right: -5px;
                        bottom: -5px;
                        left: -5px;
                        outline: 1px dashed #58595b;
                        border-bottom: none;
                    }
                }
            }

            .action {
                .checkbox-container {
                    margin: 10px 0;

                    .checkbox {
                        padding: 20px 0;
                        visibility: hidden;
                        text-align: left;
                        transition: all 300ms ease;

                        &:checked + label:after {
                            transition: all 300ms ease;
                            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
                            filter: alpha(opacity=100);
                            opacity: 1;
                            border-color: #fff;
                        }

                        &:checked + label::before {
                            transition: all 300ms ease;
                            background-color: $color-primary;
                            border-color: $color-hover-red !important;
                        }
                    }

                    label[for] {
                        position: relative;
                        padding-left: 10px;
                        cursor: pointer;
                        font-family: 'ToyotaType-Book', sans-serif;
                        color: $color-text;
                        font-size: 13px;
                        transition: all 300ms ease;

                        &:before {
                            position: absolute;
                            width: 20px;
                            height: 20px;
                            top: 0;
                            left: -17px;
                            content: '';
                            transition: all 300ms ease;
                            border: 1px solid $color-border;
                        }

                        &:after {
                            position: absolute;
                            top: 4px;
                            left: -14px;
                            width: 15px;
                            height: 8px;
                            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
                            filter: alpha(opacity=0);
                            opacity: 0;
                            content: '';
                            background-color: transparent;
                            border: solid $color-primary;
                            border-width: 0 0 2px 2px;
                            -webkit-transform: rotate(-45deg);
                            -moz-transform: rotate(-45deg);
                            -o-transform: rotate(-45deg);
                            transform: rotate(-45deg);
                        }

                    }

                    &:hover {
                        label[for] {
                            color: $color-title;

                            &::before {
                                border-color: $color-border-hover;
                            }
                        }
                    }
                }

                .forget-password-container {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;

                    i {
                        margin-right: 10px;
                    }

                    a {
                        font-family: 'ToyotaType-Regular', sans-serif;
                        font-size: 13px;
                        color: $color-title;
                        text-decoration: none;
                        transition: all 300ms ease;

                        &:hover {
                            color: $color-hover-red;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    .copyright {
        padding: 20px;
        font-size: 11px;
        color: $color-primary;
        text-align: center;
        line-height: 13px;
    }
}

.login-form {
    .footer {
        display: none;
    }
}

.d-modal {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;

    .modal-header {
        height: 50px;
        display: flex;
        align-items: center;
        border-bottom: dotted 1px $color-primary;
        padding: 0 0 0 20px;

        .title {
            flex: 1;
            font-size: 18px;
            color: $color-primary;
            text-transform: uppercase;
        }

        .close {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin-left: auto;
            width: 50px;
            height: 50px;
            cursor: pointer;
            color: $color-primary !important;

            i {
                color: $color-primary !important;
                font-size: 40px;
            }
        }
    }

    .modal-body {
        height: calc(100% - 50px);
        overflow-y: auto;
        padding: 20px 40px;
        position: relative;

        iframe {
            border: 0 !important;
        }

        &.np {
            padding: 0 !important;
        }

        .ivu-collapse {
            border-top: 0;
            border-bottom: 0;

            .ivu-collapse-item {
                .ivu-collapse-header {
                    height: 44px;
                    color: $color-primary;
                    line-height: 44px;
                }

                &:last-child {
                    border-bottom: 0 !important;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .login {
        .content {
            .title {
                left: 0;
                width: 100%;
                align-items: center;
            }
        }
    }
}

@media (max-width: 768px) {
    .login {
        .content {
            display: none !important;
        }

        .auth {
            padding-top: 0;
            float: left;
            width: 100%;
            max-width: 100%;
            height: 100%;
            border: 0;
            box-shadow: none;

            .form-wrap {
                .form-content {
                    padding: 20px;
                }
            }
        }
    }
    .login-form {
        .footer {
            z-index: 2;
            display: flex;
            flex-direction: column;

            h3 {
                color: #222;
                font-size: 15px;
                font-weight: 400;
                text-align: center;
                padding: 0 0 10px 10px;
            }

            .box-row.app {
                display: flex;
                margin: 0 auto;

                a {
                    border: solid 1px #EEEEEE;
                    border-radius: 10px;
                    padding: 5px 15px;
                    display: -webkit-inline-box;
                    display: -ms-inline-flexbox;
                    display: inline-flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: #414752;
                    margin: 0px 10px 10px;
                    -webkit-transition: all 0.4s;
                    transition: all 0.4s;
                    font-size: 14px;
                    background: rgba(#fff, 0.3);

                    img {
                        height: 34px;
                        margin-right: 10px;
                    }

                    &:hover {
                        background: rgba(255, 255, 255, 0.6);
                        border: solid 1px #414752;
                        color: #414752;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 308px) {
}

.or {
    width: 100%;
    position: relative;
    text-align: center;
    margin: 50px 0 20px;

    span {
        background: #fff;
        z-index: 2;
        font-size: 13px;
        text-transform: uppercase;
        color: $color-primary;
    }

    &:before {
        position: absolute;
        height: 1px;
        width: 20%;
        content: "";
        left: 0;
        top: 13px;
        background: #dedede;
        z-index: 1;
    }

    &:after {
        position: absolute;
        height: 1px;
        width: 20%;
        content: "";
        left: 80%;
        top: 13px;
        background: #dedede;
        z-index: 1;
    }
}

.dan-auth {
    margin-top: -30px;
}

.auth-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 14px 0;
    height: 36px;
    width: 100%;
    background-color: $color-primary;
    border: none;
    font-family: 'ToyotaType-Regular', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
    box-shadow: none;
    outline: none;
    transition: .25s ease-in-out;
    position: relative;
    cursor: pointer;
    border-radius: 6px;

    &.citizen {
        background-color: #28a745;
    }

    span.loader {
        position: absolute;
        right: 5px;
    }

    &:hover {
        background-color: darken($color-primary, 10%);
    }

    &:focus::after {
        content: "";
        position: absolute;
        top: -5px;
        right: -5px;
        bottom: -5px;
        left: -5px;
        outline: 1px dashed #58595b;
        border-bottom: none;
    }
}
